<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=5f14e3fd-4b1f-462f-abd6-a5cc003ea4a0.sqlserver.sequelizer.com;Database=db5f14e3fd4b1f462fabd6a5cc003ea4a0;User ID=qpelfvjfyqwchbyr;Password=awRQ7vppZMhxcAkeJ8m7F3EwriU3NbtGGkNVTgqqu5JGQ6jEAXDrYajfZuyWJvHX;"/>
  </connectionStrings>
</configuration>
